@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
body {
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
}
/* HEADER AND FLEX */
header{
border: 1px #00004d;
text-align: center;
background-color: #dde4ee;
color: #000033;
}

a.readmore{
font-size: inherit; 
font-weight: normal; 
text-decoration: underline; 
color: inherit;      
cursor: pointer;
}

div.container{
display: flex;
flex-direction: column;
min-height:100vh;
}
main{
flex:1;
}
header, footer, main{
margin: 0;
padding: 0;
}

.piest, .aboutme, .lp, .contact{
text-align: left;
display: flex;
flex-direction: column;
margin: auto;
max-width: 900px;
width: 100%;
}

.centered-figure {
  text-align: center;
}

.centered-figure img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

body {
  background-color: #eef1f6;
  color: #000033;
  margin: 0;
}

/* NAVIGATION SECTION */
nav ul, nav li, nav a {
  box-sizing: border-box;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 5px;
  list-style: none;
  position: relative;
  background-color: #dde4ee;
  color: #00004d;
}

nav a {
  text-decoration: none;
  color: inherit;
  background-color: #dde4ee;
}

nav a:hover {
  color: #0077B5;
}

/* Submenu styles */
.has-submenu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0; 
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 5px 0;
  min-width: 200px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.submenu li {
  padding: 5px;
}

.submenu a {
  display: block;
  padding: 10px;
  color: #333;
  background-color: #dde4ee;
  white-space: nowrap;
}

.submenu a:hover {
  background-color: #bbc9dd;
  text-decoration: none;
}

/* Show submenu on hover */
.has-submenu:hover .submenu {
  display: block;
}



/* FOOTER */
footer{
text-align: center;
background-color: #dde4ee;
}


/* ABOUTME SECTION */

.card img {
  width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card {
  max-width: 300px;
  margin: 30px auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-color: #dde4ee;
  padding-bottom: 20px; 
}

.card h1 {
  margin: 10px 0 5px 0;
  font-size: 22px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px; 
}

.button {
  padding: 4px 8px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  font-size: 20px;
}

.button.github {
  background-color: #eef1f6;
  color: #000033;
  border: 1px solid #000033;
}

.button.linkedin {
  background-color: #eef1f6;
  color: #0A66C2;
  border: 1px solid #0077B5;
}

.button:hover {
  background-color: #bbc9dd;
}

#quote{
	text-align: center;
	font-style: italic;
}

#quote::before {
  content: "«";
  font-size: 1em;
  margin-right: 0.1em;
}
#quote::after {
  content: "»";
  font-size: 1em;
  vertical-align: bottom;
  margin-left: 0.1em;
}

.fade-word {
  transition: opacity 0.5s ease;
  opacity: 1;
}
.fade-out {
  opacity: 0;
}

#live{
color: #990000;
font-weight: bold;
margin-right: 0.5em;
}

#term{
font-family: monospace;
width: 150px;
display: inline-block;
text-align: center;
transition: opacity 0.5s ease;
font-family: monospace;
display: inline-block;
}
