header{
border: 1px solid black;
text-align: center;
}


nav ul{
display: flex;
justify-content: flex-end;
outline: 1px solid;
gap: 15px; 
padding: 5px;
list-style: none;
}

nav a{
text-decoration: none;
color: inherit;
padding: 5px;
}

nav a:hover {
  color: #005c99;
  text-decoration: underline;
} 




.piest, .aboutme{
text-align: left;
display: flex;
flex-direction: column;
margin: auto;
width: 850px;
}




footer{
text-align: center;
}

